In [ ]:
import pandas as pd
data = {'Name': ['Alice','Charlie', 'David', 'Eve'],
       'Age': [25, 30, None, 22],
       'Salary': [50000, 60000, 75000, None]}
df = pd.DataFrame(data)

print("Original Dataframe")
print(df)

df_cleaned = df.dropna()

print("\nDataframe after removing missing values:")
print(df_cleaned)

mean_age = df['Age'].mean()
mean_salary = df['Salary'].mean()

df_filled = df.fillna({'Age':mean_age,'Salary': mean_salary})
print("\nDataFrame after filling missing values:")
print(df_filled)

Original Dataframe
      Name   Age   Salary
0    Alice  25.0  50000.0
1  Charlie  30.0  60000.0
2    David   NaN  75000.0
3      Eve  22.0      NaN

Dataframe after removing missing values:
      Name   Age   Salary
0    Alice  25.0  50000.0
1  Charlie  30.0  60000.0

DataFrame after filling missing values:
      Name        Age        Salary
0    Alice  25.000000  50000.000000
1  Charlie  30.000000  60000.000000
2    David  25.666667  75000.000000
3      Eve  22.000000  61666.666667